.dropdown-item {
  color: rgba(255, 255, 255, 0.55);
}
.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}

.dropdown-item.active {
  color: #fff;
  background-color: transparent;
}

.profile-img {
  width: 180px;
  border-radius: 10px;
}

.bg {
  background: radial-gradient(
    circle,
    #38f9d7,
    #6fffe9,
    #14fdd2,
    #14e6fd,
    #5bc0eb
  );
}

@media only screen and (hover: hover) and (pointer: fine) and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar appears above other content */
  }
}
