.p-t-50 {
  padding-top: 50px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-top: 10px;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.55);
}
.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}

.dropdown-item.active {
  color: #fff;
  background-color: transparent;
}

div#ministriesnav {
  float: left;
  margin-left: 115px;
  margin-top: 10px;
  margin-bottom: 20px;
}
div#ministriesnav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
div#ministriesnav li {
  float: left;
}
div#ministriesnav a {
  height: 0;
  overflow: hidden;
  display: block;
  background-image: url(Photos/originalphotos/ministriesnav.jpg);
  background-position: center;
  width: 160px;
}
div#ministriesnav ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  height: 20px;
  text-indent: -5000px;
}

li#outreach a {
  background-position: left top;
}
li#missions a {
  background-position: -160px top;
}
li#groups a {
  background-position: -320px top;
}
li#events a {
  background-position: -480px top;
}

li#outreach a:hover {
  background-position: left -20px;
}
li#missions a:hover {
  background-position: -160px -20px;
}
li#groups a:hover {
  background-position: -320px -20px;
}
li#events a:hover {
  background-position: -480px -20px;
}

div#forms {
  float: left;
  margin-left: 250px;
}
div#forms ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
div#forms li {
  float: left;
}
div#forms a {
  height: 0;
  overflow: hidden;
  display: block;
  background-image: url(Photos/originalphotos/formsnav.jpg);
  background-position: center;
  width: 120px;
}
div#forms ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  height: 30px;
  text-indent: -5000px;
}

li#prayerrequest a {
  background-position: left top;
}
li#buildingrequest a {
  background-position: -120px top;
}
li#informationrequest a {
  background-position: -240px top;
}

li#prayerrequest a:hover {
  background-position: left -30px;
}
li#buildingrequest a:hover {
  background-position: -120px -30px;
}
li#informationrequest a:hover {
  background-position: -240px -30px;
}

table#mintable {
  margin-left: 115px;
}

td#minitem {
  border: 1px solid black;
  width: 200px;
  background-color: #ccc;
  text-align: center;
}

div#container {
  margin-left: auto;
  margin-right: auto;
  background: #ff9;
  width: 80%;
}

div#content {
  background: #ff9;
  float: left;
  padding: 10px;
  width: 75%;
  margin-bottom: 10px;
}

footer {
  background: #ff9;
  clear: both;
  text-align: center;
}

div#welcomeparagraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

div#welcomeschedule {
  font-size: 20px;
  margin-top: 25px;
}

@media only screen and (hover: hover) and (pointer: fine) and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .collapse {
    margin-left: 10px;
  }
}
